<div class="product-container">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div *ngIf="productList" class="col-sm-12">

        <div class="col-sm-3 text-center" *ngFor="let product of productList" >
          <div class="borderOfDiv">
            <img src="{{product.image}}" class="productImage">
            <div>
              <button class="text-primary buttonlink" data-toggle="modal" data-target="#myModal" (click)="showDetails(product)">{{product.name}}</button>
            </div>
            <div>
              Price : {{product.rate}}
            </div>
          </div>
        </div>

        <div class="text-center">
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>

        <div *ngIf="productDetails">

          <div class="modal fade" id="myModal" role="dialog">

            <div class="table">
              <div class="table-cell">

                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Product Details</h4>
                  </div>

                  <div class="modal-body">
                    <img src="{{productDetails.image}}" class="productImage">
                    <p>{{productDetails.name}}</p>
                    <p>{{productDetails.rate}}</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                 </div>

                </div>
            </div>
          </div>
      </div>

    </div>
</div>

</div>
</div>
