<div class="product-container">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
  <div class="text-center">
    <h4>Products</h4>
  </div>

    <div *ngIf="productList" class="col-sm-12">
        <div class="col-sm-4 text-center" *ngFor="let product of productList">
          <img src="{{product.image}}" class="productImage">
          <div>
            <a href="#{{product.id}}">{{product.name}}</a>
          </div>
          <div>
            Price : {{product.rate}}</div>
      </div>

</div>
</div>


