
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E Commerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown" dropdown><a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a href="#">Category</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container main-container" >
  <router-outlet></router-outlet>
</div>

<footer class="container text-center">
  <hr>
  &copy; E Commerce website
</footer>
