
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E Commerce</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown hoverDiv" dropdown>
        <a class="dropdown-toggle" dropdownToggle data-toggle="dropdown" href="#">Products</a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a class="dropdown-item" href="#">Category</a></li>
          <li><a class="dropdown-item" href="#">Products</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container main-container" >
  <router-outlet></router-outlet>
</div>

<footer class="container">
  <hr>
  <div class="text-center">
  &copy; E Commerce website
  </div>
  <div class="footer-social text-center">
    <ul>
      <li><a href="http://www.facebook.com"><img src='http://www.womenactionmedia.org/cms/assets/themes/crate/images/social/facebook.png' /></a></li>
      <li><a href="http://www.twitter.com"><img src='http://grfx.cstv.com/schools/wis/graphics/icon_twitter24.jpg' /></a></li>
    </ul>
  </div>
</footer>
