<!--
<div class="category-container">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div class="panel panel-primary text-center" ng-controller="categoryController">
      <div class="panel-heading">
        Categories
      </div>
      <div class="panel panel-body" style="text-align:justify;">
        <ul *ngIf="categoryList" style="list-style-type: none;" >
          <li *ngFor="let category of categoryList"><a href="#{{category.id}}">{{category.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->
<div class="category-container">
  <nav class="navbar center navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="#">Clothes</a></li>
        <li><a href="#">Accesories</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Makeup</a></li>
      </ul>
    </div>
  </nav>
</div>
