/* You can add global styles to this file, and also import other style files */
.main-container{
  min-height:800px;
  margin-bottom: 20px;
}

.img-main-carousel{
  width:100%;
  max-height: 250px;
  margin:0 auto;
}

.category-container{
  margin:10px;
}
